<div class="jumbotron change">
  <h1 class="display-4">Découvrez des restos halal qui le méritent</h1>
  <p class="lead">
    Nous établisons grâce à vos avis sur des critères bien définis,<br>
    une liste des meilleurs endroits ou manger sans soucis.
  </p>

</div>
